* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    /* overflow-y: hidden; */
}

.main{
    height: 100%;
}

.menu-icon span {
    /* background-color: red; */
    font-size: 35px;
    margin-left: 5px;
    cursor: pointer;
}





.title {
    display: flex;
    justify-content: center;
    margin-left: -10px;

}


.head {
    display: flex;
    justify-content: space-around;
    /* background-color: red; */
    height: 102px;
    align-items: center;
    background-color: #f2f2f2;


}

.dropdown {
    display: flex;
    gap: 0px;
    /* background-color: red; */
    height: 42px;


}

.search {
    width: 700px;
    font-size: 16px;
    padding: 8px;
    border: none;
}

.search-icon {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    background-color: #db1212;
    color: #fff;
    border: none;
}

.s-menu {
    font-size: 14px;
    border: none;
    border-left: 1px solid #db1212;


}

a {
    color: #db1212;
}

.cart {
    display: flex;
    gap: 5px;
    color: #002080;
    padding-right: 20px;

}

.cart-logo span {
    font-size: 35px;
    /* background-color: yellow; */
}

.cart_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


p {
    color: #002080;
}

.login {
    display: block;
    padding: 2px;
    line-height: 1.4;
    /* background-color: yellow; */
}

.title {
    font-size: 0px;


}

.title span {
    font-size: 28px;
}

.menu-list {
    display: flex;
    gap: 40px;
    justify-content: center;
    /* background-color: red; */
    height: 60px;
    align-items: center;

}

.menu-list select {
    border: none;
    font-size: 16px;
}

.b-image {

    display: flex;
    width: 100%;
    position: relative;
    margin: auto;
    /* height: 100%; */

}

.mySlides {
    width: 100%;
    display: none;
}

.mySlides img {
    width: 100%;
    height: auto;
    display: block;
}

.myslide {
    display: none;
}

.d-left,
.d-right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6 ease;
    border-radius: 0px 3px 3px 0px;
    user-select: none;
}

.d-right {
    right: 0;
    border-radius: 3px 0px 0px 3px;
    /* background-color: #db1212; */
}

.d-left:hover,
.d-right:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: 0.6 linear;

}

.active,
.dot:hover {
    border-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

.top {
    background-color: #092930;
    height: 45px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.top p {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

.footer {
    background-color: #1DB5CA;
    margin-top: 480px;
    height: 550px;
    display: flex;
    padding: 0px 40px 0px 40px;
}

.footer-1 {
    width: 35%;
    /* background-color: yellow; */
    height: 100%;
    padding: 50px 20px 0px;
    font-size: 17px;
}

.footer-1 p {
    color: #fff;
    opacity: 0.95;
    line-height: 2;
}

.footer-2 {
    /* background-color: blue; */
    width: 20%;
    display: flex;
    justify-content: center;
    padding-top: 50px;

}

.footer-2 p {
    color: #fff;
    opacity: 0.95;
}

.footer-2 li {
    color: #fff;
    list-style-type: none;
    line-height: 2;
    opacity: 0.95;
}

.footer-3 {
    /* background-color: green; */
    width: 20%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.footer-3 p {
    color: #fff;
    opacity: 0.95;
}

.footer-3 li {
    color: #fff;
    list-style-type: none;
    line-height: 2;
    opacity: 0.95;
}

.footer-4 {
    /* background-color: aquamarine; */
    width: 25%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.footer-4 p {
    color: #fff;
    opacity: 0.95;
}

.f3 div {
    display: flex;
    flex-direction: column;
}

.f3 div input {
    width: 250px;
    height: 45px;
    border: none;

}

.f3 div input::placeholder {
    color: black;
    padding-left: 10px;
    font-weight: 400;
    font-size: 16px;
}

.f3 div button {
    width: 125px;
    height: 45px;
    margin-top: -5px;
    background-color: #F6A704;
    border: none;
    color: white;
    font-size: 16px;
}

.table-menu {
    background-color: yellow;
    padding-left: 100px;
    width: 100%;
    /* height: 1500px; */
    



}

table {
    /* border-radius: 100px;    */
    /* background-color: yellow;  */
    border-collapse: collapse;
    position: relative;
    bottom: 610px;
    right: 64px;
    display: none;
    border: none;
    outline: none;
    box-shadow: none;
    /* width: 100; */
    






}

table,
tr,
th,
td {
    border: none;


}

th {
    padding: 10px;
    border: 2px solid rgb(124, 123, 123);
    background-color: #ebeef5;
    color: #002080;


}

td {
    border: 2px solid rgb(124, 123, 123);
    /* border-collapse: collapse; */
    padding: 10px 25px;
    

}

tr:nth-child(even) {
    background-color: #f7f7f7;
}

tr:nth-child(odd) {
    background-color: #fff;
}

table th {
    background-color: #f2f2f2;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.container{
    height: 483px;
    width: 450px;
    /* background-color: yellow; */
    border: 2px solid #f2f2f2;
    border-radius: 15px;
    box-shadow: 0 0 10px 5px rgba(220, 219, 219, 0.5);
    
}
.container .s-head{
    text-align: center;
    padding-top:40px ;
}
.container p{
    padding-left: 30px;
}
.container button{
    width: 180px;
    height: 50px;
}

.b-wrap{
    display: flex;
    justify-content: center;
    gap: 12px;
}
.b-wrap button{
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #d4d4d4;
}
.b-image{
    /* height: 100%; */
}
.g-icon{
    height: 25px;
}
.f-icon{
    height: 25px;
}
.h-line{
    display: flex;
    /* background-color: red; */
    align-items: center;
    justify-content: center;
}
.h-line hr{
    width: 160px;
    /* display: none; */
    border-color: rgba(222, 222, 222 , 0.4);
}
.h-line p{
    padding-right: 35px;
    font-size: 14px;
}
.l-input{
    display:flex;
    flex-direction: column;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.l-input input{
    width: 84%;
    height: 50px;
    border-radius: 8px;
    border-color:  rgba(222, 222, 222 , 0.4);
}
.l-input input::placeholder{
    padding-left: 20px;
}

.l-input button{
    width: 84%;
    height: 50px;
    border-radius: 8px;
    border-color:  rgba(222, 222, 222 , 0.4);
    background-color: #03b2d1;
    color: #fff;
    font-size: 16px;
    font-weight: 500
}

.s-head{
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.h-sign{
    font-size: 20px;
    color: black;
    font-weight: 600;
}
.h-sign2{
    color:grey;
    font-size: 14px;
}
.check{
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: -15px;
    /* background-color: red; */
    margin-right: 145px;
    
}

input[type="checkbox"]
{
    width: 18px;
    accent-color: #03b2d1;
    color: #fff
    
}
.check p{
    /* background-color: red; */
    /* margin-right: 20px; */
    color: black;
    font-size: 13px;
    
}
.term {
  display: flex;
  justify-content: center;
  /* background-color: red; */
  
  
}

.term p{
    font-size: 10px;
    color:grey;

}
.term a {
    /* background-color: red; */
    text-decoration: underline;
    color: grey;
    
    
}

.b-wrap button:hover{
    background-color: rgb(244, 241, 241);
    transition: ease;
    transition-duration: 0.5s;
}

.our{
    width: 100%;
    height: 80%;
    background-color: #F3F5F6;
}
.view{
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: end;
}
.view p{
    padding-left: 60px;
    font-size: 22px;
}
.view a{
    padding-right: 60px;
}

.view a p{
    font-size: 16px;
}
.cir{
    background-color: aqua;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 30px; */
}
.c1{
    width: 14%;
    height: 12.5rem;
    background-color: #002080;
    border-radius: 50%;
    border: 10px solid white;
    background-image: url(https://makerbazar.in/cdn/shop/collections/Arts_Crafts_Collection.jpg?v=1573640701&width=480);
    background-size: cover;
    background-position: center;
    background-size: 100%;
}

.c1:hover{
    border: 5px solid white;
    transition: ease-in-out;
    transition-duration: 0.6s;
}
